{% extends 'account/base.html' %}
 {% block head_title %}Sign In{% endblock %}
  {% block content %} 
  {% load socialaccount %}

<div class="text-center">
  <h1>Sign Up</h1>
  <p>
    Please sign in with one of your existing third party accounts. <br> Or,
    <a href="{{ signup_url }}">SignUp</a> and sign in below :  <br> 
    <button type="button" class="btn btn-outline-primary mt-2"><a href="{% provider_login_url 'google'%}" style = "text-decoration: none; color:black">Login with Google</a></button>
    
  </p>

  <br />
</div>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <hr>
    <p class= "text-center">OR</p>
    <hr>
    <form method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
          <div class="d-grid">
            <button class="primaryAction mt-3 btn btn-dark" type="submit">Sign In</button><br>
          </div>
    </form>
  </div>
</div>

{% endblock content %}
